.posts-container {
  width: 100%;
  max-width: 62%;
  margin: 0 auto;
  margin-top: 6rem;
}

.log-out-btn {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  background-color: unset;
  font-size: 1.6rem;
  color: #262626;
  opacity: .8;
}
