* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #262626;
  background-color: #fafafa;
}

input {
  border: none;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  padding: .7rem;
  outline: none;
}

input::placeholder {
  color: #999;
  font-weight: 300;
}

.separator {
  height: 100%;
  width: 1px;
  margin: 0 2rem;
  background-color: #262626;
}

.main-content-container {
  max-width: 98rem;
  margin: 0 auto;
}
