.App > header {
  height: 7.8rem;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  background-color: white;
}

.header-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 98rem;
}

.logo-container {
  display: flex;
  height: 50%;
  padding: .5rem 0;
}

.logo-container img {
  height: 100%;
}
